*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}


body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: rgb(23, 12, 12);

}

.menu {
    float: right;
}

nav{
    width: 100% ;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    z-index: 1;
    top: 0;
    background: white;
    border-bottom: 1px solid rgb(23, 12, 12) ;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:rgb(23, 12, 12);
}
h2{
    font-family:'comic sans ms' ;
    font-weight: 800px;
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(23, 12, 12);
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: rgb(85, 54, 54);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;

}
a.tbl-biru:hover{
    background: rgb(142, 81, 91);
    text-decoration: none;

}

a.tbl-pink:hover{
    background: rgb(142, 81, 91);
    text-decoration: none;
}   
a.tbl-pink{
    background: rgb(85, 54, 54);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.container{
    text-align: left;
}

footer {
    background: #0e0d0d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}




